.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d1d1d;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.cell.flipped,
.cell.matched {
  background-color: #f3b4b4;
}

.stats {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
